---
layout: none
---
{% assign search_one = 'api performance' %}
{% assign search_two = 'API performance' %}
{% assign search_three = 'API Performance' %}
[
  {% assign count = 1 %}{% assign totalcount = 1 %}{% for post in site.posts %}{% if post.title contains search_one or post.title contains search_two or post.title contains search_three or post.abstract contains search_one or post.abstract contains search_two or post.abstract contains search_three or post.content contains search_one or post.content contains search_two or post.content contains search_three %}{% unless post_title == '' %}{% assign totalcount = totalcount | plus: 1 %}{% endunless %}{% endif %}{% endfor %}
  {% for post in site.posts %}
  {% if post.title contains search_one or post.title contains search_two or post.title contains search_three or post.abstract contains search_one or post.abstract contains search_two or post.abstract contains search_three or post.content contains search_one or post.content contains search_two or post.content contains search_three %}
    {% unless post_title == '' %}
      {
      "title": "{{ post.title }}",
      "publication_date": "{{ post.date |  date: "%Y/%d/%m" }}",
      "number": "{{ post.number }}",
      "url": "{{ post.url }}",
      "abstract": "{{ post.abstract }}",
      "owner": "{{ post.owner }}",
      "owner_city": "{{ post.owner_city }}",
      "owner_country": "{{ post.owner_country }}"
      }{% assign count = count | plus: 1 %}{% if count < totalcount %},{% endif %}
    {% endunless %}
  {% endif %}
{% endfor %}
]
