---
layout: default
---

{% assign patents_content = site.data.patent_content.index[0] %}

<section>

  <header class="main">
    <h2>API Deployment</h2>
  </header>

  <p>{{ patents_content.header }}</p>
  {% for post in paginator.posts %}

      {% assign uspto_url = 'http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-adv.htm&r=1&f=G&l=50&d=PALL&S1=' | append: post.number | append: '&OS=' | append: post.number | append: '&RS=' | append: post.number %}

      {% assign filter_title = post.title | downcase %}
      {% assign filter_abstract = post.abstract | downcase %}
      {% assign filter_content = post.content | downcase %}
      {% if post.abstract contains 'api deployment' or post.abstract contains 'api deployment' %}
        {% unless post.title == blank %}
          <h3><a href="{{ uspto_url }}">{{ post.title }}</a></h3>
          {{ post.abstract }}
          <ul style="padding-top: 10px;">
            <li><strong>Pub Date:</strong> {{ post.date |  date: "%Y/%d/%m" }}</li>
    				<li><strong>Number:</strong> {{ post.number }}</li>
            {% if post.owner %}<li><strong>Owner:</strong> {{ post.owner }}</li>{% endif %}
    				{% if post.owner %}<li><strong>Location:</strong> {{ post.owner_city }}, {{ post.owner_country }}</li>{% endif %}
            <li><strong>Details:</strong> <a href="{{ uspto_url }}" target="_blank">Visit USPTO</a></li>
          </ul>
        	<center><hr style="width: 75%;" /></center>
        {% endunless %}
      {% endif %}
  {% endfor %}

	<ul class="pagination" style="text-align: center;">
		<li style="text-align:left;"><a href="/patents/page{{ paginator.previous_page }}" class="button disabled"><< Prev</a></li>
		<li style="width: 75%"><span></span></li>
		<li style="text-align:right;"><a href="/patents/page{{ paginator.next_page }}" class="button">Next >></a></li>
	</ul>

	<p>{{ patents_content.footer }}</p>

</section>
